


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BlueOceanVF';
  src: url('/Fonts/Blue-Ocean-VF.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'BlueOceanBold';
  src: url('/Fonts/BlueOcean-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

  
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    /* Forest Green (#228B22) */
    --primary: 120 61% 34%;
    --primary-foreground: 0 0% 100%;
 
    /* Earth Brown (#8B4513) */
    --secondary: 25 75% 31%;
    --secondary-foreground: 0 0% 100%;
 
    /* Soft Beige (#F5F5DC) */
    --muted: 60 33% 91%;
    --muted-foreground: 25 75% 31%;
 
    /* Sky Blue (#87CEEB) */
    --accent: 197 71% 73%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    /* Coral Orange (#FF7F50) */
    --destructive: 16 100% 66%;
    --destructive-foreground: 210 40% 98%;
 
    /* Sunflower Yellow (#FFD700) */
    --highlight: 51 100% 50%;
    --highlight-foreground: 0 0% 0%;
 
    --border: 25 10% 85%;
    --input: 25 10% 85%;
    --ring: 120 61% 34%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}
 
@layer base {
  * {
    @layer border-border;
  }
  body {
    @apply bg-background text-foreground font-open-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat font-bold;
  }
  .container {
    max-width: screen-xl;
    margin-left: auto;
    margin-right: auto;
  }
  .font-blue-ocean-bold {
    font-family: 'BlueOceanBold', sans-serif;
  }

  .font-blue-ocean-vf {
    font-family: 'BlueOceanVF', sans-serif;
  }

  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }

  .font-open-sans {
    font-family: var(--font-open-sans), sans-serif;
  }
}


